<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Ionic Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Yo soy la página de inicio</p>
  </div>
</ion-content>
<!-- Si ejecutamos la aplicación en un navegador de escritorio con ionic serve se mostrará el menú siempre visible a la
  izquierda del contenido, sin embargo si ejecutamos ahora la aplicación con ionic serve -l a tamaño móvil no veremos
  nada especial, solo la página home, para poder ver el menú tenemos que crear un botón para hacer que se muestre el
  menú. Para ello vamos a modificar el archivo home.page.html,  y añadimos un botón especial llamado ion-menu-button
  que se encarga de abrir y cerrar el menú, de paso vamos a eliminar todo lo que hay dentro de ion-content y
   a añadir un texto en el contenido para indicar que es la página de inicio: -->